<launch>
	
    <node pkg="wireless_localization" type="AoA_localization" name="AoA_localization" output="screen">
    <remap from="~transmitter" to="/wireless_receiver/transmitter"/>
    <remap from="~AoA" to="/wireless_receiver/AoA" />
    </node>

     <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wireless_localization)/rviz_cfg/AoA_localization.rviz"/>
</launch>


